
# BEGIN Codeigniet
# Las directivas (líneas) entre "BEGIN Codeigniet" y "END Codeigniet" son
# generadas dinámicamente y solo deberían ser modificadas mediante filtros de Codeigniet.
# Cualquier cambio en las directivas que hay entre esos marcadores serán sobrescritas.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /jauservice/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /jauservice/index.php [L]

</IfModule>

#RewriteRule (.*) http://www.jauservice.com/$1 [R=301,L,QSA]
#RewriteCond %{HTTP_HOST} ^5\.181\.218\.165
# END Codeigniet